In [43]:
import pandas as pd
from tqdm import tqdm_notebook

prefix = 'data/'

In [44]:
train_df = pd.read_csv(prefix + 'train.csv', header=None)
train_df.head()

   0                                                  1
0  0  Slide 1 of 23EXPLORING THE RUINS OF VIJAYANAGA...
1  4  Full text is unavailable for this digitized ar...
2  9  The American Government is shouldering a modes...
3  9  To the Editor:Re ''Consulting: Don't Lose It I...
4  6  Full text is unavailable for this digitized ar...

In [45]:
test_df = pd.read_csv(prefix + 'test.csv', header=None)
test_df.head()

   0                                                  1
0  5  Credit... The New York Times ArchivesAugust 1 ...
1  4  Full text is unavailable for this digitized ar...
2  3  Credit... The New York Times ArchivesFebruary ...
3  0  SHAPIRO--Pauline. The Yeshiva University famil...
4  1  Most presidents will at some point benefit fro...

In [46]:
#train_df[0] = (train_df[0]==4).astype(int)
#test_df[0] = (test_df[0]).astype(int)

In [47]:
train_df = pd.DataFrame({
    'id':range(len(train_df)),
    'label':train_df[0],
    'alpha':['a']*train_df.shape[0],
    'text': train_df[1].replace(r'\n', ' ', regex=True)
})

train_df.head()

   id  label alpha                                               text
0   0      0     a  Slide 1 of 23EXPLORING THE RUINS OF VIJAYANAGA...
1   1      1     a  Full text is unavailable for this digitized ar...
2   2      0     a  The American Government is shouldering a modes...
3   3      0     a  To the Editor:Re ''Consulting: Don't Lose It I...
4   4      0     a  Full text is unavailable for this digitized ar...

In [41]:
dev_df = pd.DataFrame({
    'id':range(len(test_df)),
    'label':test_df[0],
    'alpha':['a']*test_df.shape[0],
    'text': test_df[1].replace(r'\n', ' ', regex=True)
})

dev_df.head()

   id  label alpha                                               text
0   0      5     a  Credit... The New York Times ArchivesAugust 1 ...
1   1      4     a  Full text is unavailable for this digitized ar...
2   2      3     a  Credit... The New York Times ArchivesFebruary ...
3   3      0     a  SHAPIRO--Pauline. The Yeshiva University famil...
4   4      1     a  Most presidents will at some point benefit fro...

In [42]:
train_df.to_csv('data/train.tsv', sep='\t', index=False, header=False, columns=train_df.columns)
dev_df.to_csv('data/dev.tsv', sep='\t', index=False, header=False, columns=dev_df.columns)